<body>
  
  <header>
    <div class="container">
  
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Ghali</a></li>
          <li><a href="#">Lazza</a></li>
          <li><a href="#">Amine</a></li>
        </ul>
        <br>
      </nav>
    </div>
  </header>
  <br>


  <div class="body">

    <div class="titolo"><br><br><br><br>
      SANREMO
    </div>
    <br><br><br><br>
  
  
    <div class="descrizione">
      <p>
        Benvenuto nel cuore della musica italiana: Sanremo, la città che culla il famoso Festival della Canzone Italiana! Situata sulla splendida Riviera Ligure, Sanremo è una località affacciata sul Mar Mediterraneo, famosa non solo per la sua bellezza panoramica, ma anche per essere la casa di uno degli eventi musicali più prestigiosi al mondo.
        <br><br>
        Il Festival di Sanremo è un'esperienza unica che mescola la tradizione con l'avanguardia, portando sul palco alcuni dei più grandi talenti musicali italiani. Fondata nel 1951, la manifestazione ha visto la partecipazione di artisti leggendari e ha lanciato carriere di successo nel panorama musicale italiano.
        <br><br>
        La città di Sanremo offre non solo spettacolo musicale, ma anche un fascino intramontabile. Con le sue strade pittoresche, i colori vivaci e la gastronomia deliziosa, Sanremo incanta i visitatori con la sua autenticità e il suo stile di vita rilassato.
        <br><br>
        Esplora le belle spiagge, passeggiando lungo la celebre Passeggiata dell'Imperatrice o percorri le strade del centro storico, ricche di negozi affascinanti e caffè accoglienti. Sanremo è una destinazione che unisce il glamour dell'arte e della musica con la tranquillità di una località costiera.
        <br><br>
        Il nostro sito è dedicato a fornirti tutte le informazioni necessarie su Sanremo, dal programma del Festival alle attrazioni turistiche locali, per assicurarti un'esperienza completa nella città della musica italiana. Benvenuto nel mondo incantevole di Sanremo!
      </p>
    </div>

  </div>

</body>