.pallino-verde {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: auto;
}

.pallino-rosso {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: auto;
}