<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="card" style="width:400px" *ngFor="let contatto of contatti" [ngStyle]="{ 'background-color': contatto.colorePreferito}">
	<img class="card-img-top" src="{{ contatto.immagine }}" alt="Card image">
	<div class="card-body">
	  <h4 class="card-title">{{ contatto.nome }} {{ contatto.cognome }}</h4>
	  <div *ngIf="contatto.isOnline" class="pallino-verde"></div>
      <div *ngIf="!contatto.isOnline" class="pallino-rosso"></div>
	  <p class="card-text">{{ contatto.telefono }}</p>
	  <a href="#" class="btn btn-primary">See Profile</a>
	</div>
</div>
