.container {
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'GriffinFont';
    src: url('famig.ttf') format('ttf');
    /* Aggiungi altri formati se necessario */
    font-weight: normal; /* specifica il peso del font */
    font-style: normal; /* specifica lo stile del font */
}

h1 {
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: 600px;
    border-radius: 10px;
    border: 3px black solid;
}

p {
    font-family: 'GriffinFont';
    font-size: 25px;
}