<br><br><br>
        
<table style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: 80%; height: 70%;">
    <tbody>
        <tr>
            <td>Meme Number</td>
            <td>Meme Name</td>
            <td>Meme Image</td>
            <td>Meme Discription</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{text1}}</td>
            <td><app-third-component class="immagine"></app-third-component></td>
            <td>{{text2}}</td>
        </tr>
        <tr>
            <td>2</td>
            <td>{{text3}}</td>
            <td><app-fourth-component></app-fourth-component></td>
            <td>{{text4}}</td>
        </tr>
    </tbody>
</table>
