.body {
    background-color: black;
    
}

.immagine-logo {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    height: 1px;
    width: 1005;
}

.immagine-titolo {
    display: flex;
    justify-content: center;
}

.immagine-titolo img {
    width: 40%;
}

.immagine-logo img {
    width: 350px;
    height: 200px;
    margin-top: 100px;
}

p {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center; /* Distribuisce gli elementi equamente lungo l'asse principale */
}
  
.starter-button {
    width: 300px;
    margin: 0 60px;
    border-radius: 10px;
    height: 250px;
    font-family: 'Pokemon Font Solid' ;
    color: yellow;
    font-size: 50px;
    background-color: black;
    -webkit-text-stroke-width: 3px; /* Larghezza del bordo */
   -webkit-text-stroke-color: blue;
}

@font-face {
    font-family: 'Pokemon Font Solid';
    src: url('Pokemon\ Solid.ttf') format('truetype');
    /* Sostituisci 'percorso/del/font/GTA.ttf' con il percorso reale del tuo file del font */
}

@font-face {
    font-family: 'Pokemon Font Hollow';
    src: url('Pokemon\ Hollow.ttf') format('truetype');
    /* Sostituisci 'percorso/del/font/GTA.ttf' con il percorso reale del tuo file del font */
}

#bottone1 {
    background-color: rgb(28, 71, 24);
}

#bottone2 {
    background-color: rgb(87, 25, 25);
}

#bottone3 {
    background-color: rgb(27, 24, 71);
}

.infoContainer {
    color: yellow;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
  }
  